<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Toy App</h1>
            <h2 class="masthead-subheading mb-0">Make Toys Your Words and Play Your Language</h2>
            <%= link_to "Get Started", sign_up_path, class:"btn btn-primary btn-xl btn-lg rounded-pill mt-5"%>
        </div>
    </div>
</header>
